<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <a routerLink="" routerLinkActive="active">blogs         </a>
      <a routerLink="/aboutus" routerLinkActive="active">about us </a>
      <a  [routerLink]="['/admin']" routerLinkActive="active">admin</a>
   
    
</nav>
<router-outlet></router-outlet>